<link rel="stylesheet" href="app/assets/stylesheets/villager.css">

<% if current_user %> 
    <div class="wrapper">
            <div class="container-left">
                <%= button_to "sign out", destroy_user_session_path, method: "delete"%><br><br>
                
                <div class="nav-menu">
                    <%= link_to "back", :back, { :class => "nav-links" } %>
                </div>
            </div>

            <div class="container-right";>
                <div class="right-content">
                    <div class="card">
                        <center><h2>edit <%= @villager.name %></h2></center>

                        <%= form_with model: @villager, url: user_villager_path(current_user, @villager), method: "patch" do |f| %>
                            <%= f.text_field :img_url, placeholder: "photo url of villager ٭" %><br><br>
                            <%= f.text_field :name, placeholder: "villager's name" %>

                            <%= f.collection_select :gender, Villager::GENDER, :to_s, :to_s %> <%= f.collection_select :status, Villager::STATUS_CHOICES, :to_s, :to_s %><br><br>

                            <%= f.text_field :birthday, placeholder: "villager's birthday" %>

                            <div class="margins">
                                <p><%= f.label "personality" %>: </p>
                                <%= f.collection_select :personality, Villager::PERSONALITY_CHOICES, :to_s, :to_s %>
                                <p><%= f.label "species" %>: </p>
                                <%= f.collection_select :species, Villager::SPECIES_CHOICES, :to_s, :to_s %><br><br>
                            </div>

                            <%= f.text_field :catchphrase, placeholder: "villager's catchphrase" %><br><br>

                            <%= f.text_field :comments, placeholder: "comments" %><br><br>
                        
                            <center><%= f.submit "edit" %></center>
                        <% end %>
                    </div>
                </div>
            </div>
    </div>
    
<% else %>
    <%= render "partials/registration_links" %>
<% end %>