<link rel="stylesheet" href="app/assets/stylesheets/registration.css">

<% if current_user %> 
    <div class="wrapper">
            <div class="registration-container-left">
                <%= button_to "log out", destroy_user_session_path, method: "delete", :class => "logout-button"%><br><br>
                
                <div class="nav-menu">
                    <%= link_to "add villager" , new_user_villager_path(current_user), {:class => "nav-links"}%>
                </div>
            </div>

            <div class="registration-container-right";>
                <div class="registration-right-content">
                    <div class="card">
                        <center><h2><%= current_user.username %>'s villagers</h2>

                        <% if current_user.villagers.first.nil? %>
                            <p>Hmmm, no villagers here. . .<br><br> 
                            Love cats with glasses like ✧Raymond✧? Not the biggest fan of ⋆Beardo⋆?<br>
                            Click "add villager" to track all your fav friends.</p>
                        <% else %>
                            <% all_villagers = current_user.villagers %>
                            <% all_villagers.each do |villager| %>
                                <h3>✪ <%= villager.name %>, <%= villager.status %> </h3> 
                                <%= link_to "view" , user_villager_path(current_user, villager), {:class => "view"}%><br>
                            <% end %>
                        <% end %></center>
                    </div>
                </div>
            </div>
    </div>
    
<% else %>
    <%= render "partials/registration_links" %>
<% end %>