<!DOCTYPE html>
<html>
  <head>
    <title>Friend Crossing</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Raleway:wght@200;300;500;600&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>

    <div class="header">
      <%= image_tag("nook-inc-logo.png", height: "90", width: "90") %>
      <h1>Friend Crossing</h1>
    </div>
  </body>
</html>
